.first-element{
    width: 100vw !important;
    height: 1.5vh !important;
    background-color: black !important;
}

.hovcolor{
    transition: 0.2s !important;
}

.hovcolor:hover{
    color: green !important;
}

.dropdown-toggle:focus{
    color: blue !important;
}

.navbar-nav{
    position: relative !important;
}

.navbar-nav::after{
    content: "" !important;
    background-color: red !important;
    position: absolute !important;
    height: 95% !important;
    width: 5px !important;
    top: 5% !important;
    right: -1% !important;
}

@media(max-width:575px){
    .icons{
        display: none;
    }
}



/**************************************************************/
.cards-section .card{
    margin-bottom: 20px !important;
    padding: 10px !important;
}

@media (min-width:992px) {
.cards-section div:nth-child(2),
.cards-section div:nth-child(5){
    margin-left: 10px !important;
    margin-right: 10px !important;
}    
}
/************************************************************************************/

.nav-tabs .nav-link:focus{
    color: white !important;
    background-color: green !important;
}

.tab-pane img{
    width: 250px;
    height: 200px;
}

.tab-content div:first-child img:last-child,
.tab-content div:nth-child(2) img:first-child{
    height: 300px;
}

div:first-child img:nth-child(2),
.tab-content div:last-child img:nth-child(2){
    height: 350px;
}